.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;
  margin: 80px 140px;
}

@media(max-width: 613px){
  #about.about {
    margin-top: 90px;
  }

  .about-sections-2 {
    margin-top: -30px;
  }
}

@media(max-width: 768px){
  .about {
    gap: 80px;
    margin: 50px;
    align-items: start;
  }
}

.about-title {
  position: relative;
}

@media(max-width: 768px){
  .about-title h2{
    font-size: 50px !important;
    padding: 0 !important;
  }
}

@media(max-width: 500px){
  .about-para p {
    font-size: 16px;
  }
}


.about-title h2 {
  padding: 0px 30px;
  font-size: 80px;
  font-weight: 600;
}

.about-title img {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}

@media(max-width: 768px){
  .about-title img {
    width: 130px;
    right: -20px
  }
}

.about-sections {
  display: flex;
  gap: 80px;
}

@media(max-width: 768px){
  .about-sections {
    flex-direction: column;
  }

  .about-left {
    display: none;
  }
}



.about-right {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.about-para {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 20px;
  font-weight: 400;
}

@media(max-width: 768px){
  .about-para {
    font-size: 18px;
    line-height: 32px;
  }

  div.about-sections {
    margin-top: -40px;
  }
}

@media(max-width: 768px){
  .about-skills .about-skill {
    gap: 20px;
    align-items: center;
  }

  .about-skills .about-skill p {
    font-size: 20px;
  }

  .about-skills .about-skill hr {
    height: 6px;
  }

  .about-sections-2 .about-achievements{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .about-sections-2 .about-achievement {
    gap: 5px;
  }

  .about-sections-2 .about-achievement h3 {
    font-size: 34px;
    font-weight: 400;
  }

  .about-sections-2 .about-achievement p {
    text-align: center;
    font-size: 16px;
  }
}

@media(max-width: 482px){
  .about-sections-2 .about-achievements {
    display: flex;
    flex-direction: column;
  }

  .about-sections-2 .about-achievements hr {
    margin: 10px 60px 10px 60px;
  }
}


.about-skills {
  display: flex;
  /* display: none; */
  flex-direction: column;
  gap: 20px;
}

.about-skill {
  display: flex;
  gap: 50px;
  align-items: center;
  transition: 0.3s;
}

.about-skill p {
  min-width: 150px;
  font-size: 24px;
  font-weight: 500;
}

.about-skill hr {
  outline: none;
  border: none;
  width: 50%;
  height: 8px;
  border-radius: 50px;
  background: linear-gradient(264deg, #DF8908 -5.09%, #B415FF 106.28%);
}


.about-sections-2 {
  margin-top: 14em;
  width: 100%;
  justify-content: space-between;
}

.about-achievements {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-bottom: 80px;
}

.about-achievement {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  transition: 0.5s;
}

.about-achievement:hover {
  transform: scale(1.12);
  transition: 0.5s;
}

.about-achievement h3 {
  font-size: 60px;
  font-weight: 500;
  background: linear-gradient(270deg, #DF8908 50.41%, #B415FF 90.25%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about-achievement p {
  font-size: 22px;
  font-weight: 400;
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
}

.about-skill:hover {
  transform: scale(1.05);
  transition: 0.3s;
}


.about-image {
  width: 400px;
  height: 400px;
  overflow: hidden;
  /* margin-left: 30px; */
  /* margin-top: 130px; */
}


.about-image img {
  width: 410px;
  height: auto;
  /* margin: -9px 0 0 0px; */
}

.about-graphic {
  position: relative;
}


.stage-cube-cont {
  width: 50%;
  height: 50%;
  top: 0;
  padding-top: 18%;
  margin-left: 0;
  position: absolute;
  left: -5em;
  
}

.cubespinner {
  animation-name: spincube;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 12s;
  transform-style: preserve-3d;
  transform-origin: 100px 100px 0;
  margin-left: calc(50% - 100px);
  

}

.cubespinner div {
  position: absolute;
  width: 200px;
  height: 200px;
  border: 1px solid #ccc;
  background: rgba(255, 255, 255, 0.4);
  text-align: center;
  font-size: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow:  0 0 10px 0px lightyellow;
}

.face1 {
  transform: translateZ(100px);
}

.face2 {
  transform: rotateY(90deg) translateZ(100px);
}

.face3 {
  transform: rotateY(90deg) rotateX(90deg) translateZ(100px);
}

.face4 {
  transform: rotateY(180deg) rotateZ(90deg) translateZ(100px);
}

.face5 {
  transform: rotateY(-90deg) rotateZ(90deg) translateZ(100px);
}

.face6 {
  /* transform: rotateY(-90deg) translateZ(100px); */
  transform: rotateZ(180deg) rotateY(-90deg) rotateX(90deg) translateZ(100px);

}

@keyframes spincube {
  from,
  to {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  16% {
    transform: rotateY(-90deg);
  }
  33% {
    transform: rotateY(-90deg) rotateZ(90deg);
  }
  50% {
    transform: rotateY(-180deg) rotateZ(90deg);
  }
  66% {
    transform: rotateY(-270deg) rotateZ(90deg);
  }
  33% {
    transform: rotateX(-90deg);
  }
}